<h1 class="text-center">Add Screening</h1>


<div class="row">
  <div class="col-md-12">
    <%= form_for(@screening, :html => { class: "form-horizontal", role: "form"}) do |f| %>
      <% if @screening.errors.any? %>
        <h3><%= pluralize(@screening.errors.count, "error") %> prevented this screening from being created: </h3>
        <% @screening.errors.full_messages.each do |error| %>
          <ul>
            <li><%= error %></li>
          </ul>
        <% end %>
      <% end %>
      <div class="form-group">
        <div class="control-label col-md-3 col-md-offset-1 col-sm-1 col-sm-offset-1">
          <%= f.label "Select movie: " %>
          <%= f.collection_select(:movie_id, @movies, :id, :title) %>
          <!-- <select name="screening[movie_id]">
            <% @movies.each do |movie| %>
              <option value="<%= movie.id %>"><%= movie.title %></option>
            <% end %>
          </select> -->
        </div>

        <div class="control-label col-md-3 col-sm-1">
          <%= f.label "Select auditorium: " %>
          <%= f.collection_select(:auditorium_id, @auditoria, :id, :name) %>
          <!-- <select name="screening[auditorium_id]">
            <% @auditoria.each do |auditorium| %>
              <option value="<%= auditorium.id %>"><%= auditorium.name %></option>
            <% end %>
          </select> -->
        </div>

        <div class="control-label col-md-3 col-sm-1">
          <%= f.label "Select showtime: " %>
          <%= f.time_field :start_time %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-md-offset-4">
          <%= f.submit "Save", class: "btn btn-primary btn-md pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
