<h1 class="text-center">Purchase ticket for <%= @movie.title %></h1>

<div class="row">
  <div class="col-md-12">
    <%= form_for([@movie, @movie.purchases.build], :html => { class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
          <%= render "shared/errors", object: @purchase %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-3">
          <!-- <%= f.label "Name: " %> -->
        </div>
        <div class="col-md-6 col-sm-6">
          <%= f.text_field :name, class: "form-control", placeholder: "Name", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-3">
          <!-- <%= f.label "Email: " %> -->
        </div>
        <div class="col-md-6 col-sm-6">
          <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="Card number" class="col-sm-3 control-label">Card number: </label> -->
        <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
          <input type="text" class="form-control" placeholder="Card number">
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="Expiration" class="col-sm-3 control-label">Expiration: </label> -->
        <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
          <input type="text" class="form-control" placeholder="Expiration">
        </div>
      </div>


      <div class="form-group">
        <div class="col-md-9 col-sm-9">
          <%= f.submit "Pay $#{@movie.price}", class: "btn btn-primary btn-md pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
